<ion-view title="Create New Match" id="page4" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="createNewMatch-form7" class="list ">
            <label class="item item-input " id="createNewMatch-input1">
                <span class="input-label">Name:</span>
                <input type="text" placeholder="Choose match name">
            </label>
        </form>
        <h1 id="createNewMatch-heading3" style="color:#FFFFFF;text-align:center;" class=" ">Match Code: HRY345</h1>
        <h3 id="createNewMatch-heading4" style="color:#FFFFFF;font-weight:300;text-align:center;" class=" ">Use the code above to have your friends join your match</h3>
        <div class="spacer" style="height: 100px;"></div>
        <form id="createNewMatch-form8" class="list ">
            <label class="item item-select " id="createNewMatch-select3" name="level">
                <span class="input-label">Select Level</span>
                <select>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                </select>
            </label>
            <a ui-sref="menu.teamMatches" id="createNewMatch-button6" class=" button button-positive  button-block icon-left ion-android-bicycle ">Begin your workout!</a>
        </form>
    </ion-content>
</ion-view>