<ion-view title="Individual Workout" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <button id="individualWorkout-button3" class=" button button-positive  button-block icon-left ion-android-bicycle ">Begin your workout</button>
        <form id="individualWorkout-form4" class="list ">
            <label class="item item-select " id="individualWorkout-select1" name="level">
                <span class="input-label">Level of Difficulty:</span>
                <select>
                    <option>Level 1</option>
                    <option>Level 2</option>
                    <option>Level 3</option>
                    <option>Level 4</option>
                    <option>Level 5</option>
                    <option>Level 6</option>
                    <option>Level 7</option>
                    <option>Level 8</option>
                    <option>Level 9</option>
                    <option>Level 10</option>
                </select>
            </label>
            <label class="item item-input " id="individualWorkout-textarea2" name="time">
                <span class="input-label">Time of Workout:</span><textarea placeholder="00:00:00"></textarea>
            </label>
            <label class="item item-input " id="individualWorkout-textarea3" name="time">
                <span class="input-label">Power Produced:</span><textarea placeholder="0 watts"></textarea>
            </label>
        </form>
        <div class="spacer" style="height: 100px;"></div>
        <button id="individualWorkout-button4" class=" button button-positive  button-block icon-left ion-android-alarm-clock ">Finish Workout</button>
    </ion-content>
</ion-view>