<ion-view title="Login" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="login-form10" class="list ">
            <ion-list id="login-list3" class=" ">
                <label class="item item-input " id="login-input5">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="login-input6">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a ui-sref="menu.uCSDTriathlonApp" id="login-button9" class=" button button-positive  button-block ">Log in</a>
            <a ui-sref="menu.signup" id="login-button10" class=" button button-positive  button-block ">Or create an account</a>
        </form>
    </ion-content>
</ion-view>