<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-positive">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu21" style="background-color:#86AFE4;">
        <ion-header-bar class="bar-positive">
            <div class="title">Menu</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header">
            <ion-list id="menu-list1" class=" ">
                <ion-item class="item-avatar item-icon-right positive  " id="menu-list-item1" ui-sref="menu.uCSDTriathlonApp" menu-close="">
                    <img src="img/RSyhETbQH6an0x9mTMqB_beyonce_face.jpg">
                    <h2positive>Home
                        <i class="icon ion-ios-home"></i>
                    </h2positive>
                </ion-item>
                <ion-item class="item-icon-right positive  " id="menu-list-item2" ui-sref="menu.individualWorkout" menu-close="">Individual Workout
                    <i class="icon ion-android-contact"></i>
                </ion-item>
                <ion-item class="item-icon-right positive  " id="menu-list-item3" ui-sref="menu.teamMatches" menu-close="">Team Matches
                    <i class="icon ion-android-contacts"></i>
                </ion-item>
                <ion-item class="item-icon-right positive  " id="menu-list-item8" ui-sref="menu.logout" menu-close="">Log Out
                    <i class="icon ion-ios-close"></i>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>