<ion-view title="Signup" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="signup-form11" class="list ">
            <ion-list id="signup-list4" class=" ">
                <label class="item item-input " id="signup-input7">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="signup-input8">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="signup-input9">
                    <span class="input-label">Password</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
            <a ui-sref="menu.uCSDTriathlonApp" id="signup-button11" class=" button button-positive  button-block ">Sign up</a>
        </form>
    </ion-content>
</ion-view>