<ion-view title="UCSD Triathlon App" id="page1" style="background-color:#86AFE4;" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="uCSDTriathlonApp-heading1" style="color:#FFFFFF;text-align:center;" class=" ">Welcome to the Triathlon App</h1>
        <a ui-sref="menu.individualWorkout" id="uCSDTriathlonApp-button1" class=" button button-positive  button-block icon-left ion-android-bicycle ">Individual Workout</a>
        <a ui-sref="menu.teamMatches" id="uCSDTriathlonApp-button2" class=" button button-positive  button-block icon-left ion-android-bicycle ">Team Matches</a>
        <div class="">
            <img src="img/7c0Zz0hjT5GuRVfOsQOF_triathlon_wallpaper.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
    </ion-content>
</ion-view>